@media (max-width: 480px) {
    header {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 6vw;
        background: linear-gradient(90deg, #2D5788, #1CA093);
        z-index: 1;
    }

    #logo {
        width: clamp(85px, 25vw, 109px);
        margin-right: auto;
    }

    #menu {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 38px;
        cursor: pointer;
    }

    #menu > span {
        width: 100%;
        height: 6px;
        border-radius: 2px;
        background-color: white;
    }

    #menu-items {
        position: absolute;
        top: 0;
        right: 0;
        padding: 130px 10px 190px 50px;
        border-bottom-left-radius: 100%;
        background-color: #228690;
        color: white;
        transform: translateX(100%);
        transition: transform 500ms ease;
        z-index: -1;
    }

    #menu-items.show {
        transform: translateX(0);
    }

    #menu-items li a {
        display: inline-block;
        padding: 5px 0;
        font-size: 1.2rem;
        text-decoration: none;
    }

    #menu-items li a:hover {
        color: #333;
    }
}