<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://finyou.w3spaces.com">

    <!-- links externos -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='preload' as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'></noscript>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap" rel="stylesheet">

    <!-- css -->

    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/footer.css">

    <!-- js -->

    <script src="../../public/js/script.js" defer></script>

    <title>Finyou</title>
</head>
<body>
    <header>
        <img id="logo" src="../../public/images/topo-pagina/logo.png">

        <div id="menu" data-menu>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul id="menu-items" data-menu-items>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Entrar</a></li>
            <li><a href="#">Sobre a Finyou</a></li>
            <li><a href="#">Planos</a></li>
        </ul>
    </header>

    <main>
        <section>
            <img src="../../public/images/topo-pagina/grafico-gradiente-topo.png">

            <img src="../../public/images/home/imagem-topo.png">

            <h1>Finanças para você</h1>

            <p>Auxilie o seu extrato financeiro individualmente ou acompanhado</p>

            <a href="#">Cadastrar</a>
        </section>

        <section>
            <div>
                <i class='bx bxs-cloud'></i>

                <h2>Desempenho</h2>

                <p class="light-text">O Finyou está pronto para te ajudar a planejar e economizar</p>
            </div>

            <div>
                <i class='bx bx-money'></i>

                <h2>Investimento</h2>

                <p class="light-text">Dados visuais simplificados para se atenciar nas finanças</p>
            </div>

            <div>
                <i class='bx bx-body'></i>

                <h2>Acessibilidade</h2>

                <p class="light-text">Opção de acessibilidade para pessoas com deficiência</p>
            </div>
        </section>

        <section>
            <div>
                <i class='bx bx-bar-chart'></i>

                <h2>O que é o Finyou?</h2>

                <p>O Finyou fornecerá o processo mediante o qual os indivíduos e as sociedades melhoram a sua compreensão em relação aos conceitos e produtos financeiros.</p>

                <a href="#">Saiba mais</a>
            </div>

            <div>
                <i class='bx bxs-shopping-bag'></i>

                <h2>Conheça os preços do Finyou+</h2>

                <p>O Finyou te oferece pacotes que incluem funcionalidades essenciais para priorizar o seu melhoramento em gerenciar a situação financeira.</p>

                <a href="#">Comparar os preços</a>
            </div>
        </section>

        <section>
            <h2>O que a Finyou te fornecerá?</h2>

            <div>
                <img src="../../public/images/home/0.png">

                <p class="light-text">O Finyou te garante que você acompanhe os seus passos financeiros e como isso está te influenciando.  Te oferecendo os seguintes tópicos:</p>
            </div>

            <div>
                <div>
                    <img src="../../public/images/home/1.png">

                    <h3>Conta Conjunta</h3>

                    <p class="light-text">O Finyou te fornece a Conta Compartilhada, que seguirá com o conceito de que você possa administrar a sua conta com o do seu familiar, conforme a permissão do mesmo, em gerenciar os extratos bancários.</p>
                </div>

                <div>
                    <img src="../../public/images/home/2.png">

                    <h3>Auxílio de extrato</h3>

                    <p class="light-text">O Finyou te fornecerá assistência e relatórios personalizados para auxiliar e realizar suas metas financeiras, ajudando a planejar e economizar.</p>
                </div>

                <div>
                    <img src="../../public/images/home/3.png">

                    <h3>Gráfico</h3>

                    <p class="light-text">O Finyou fornecerá que você tenha uma visualização clara e personalizada da sua vida financeira, mostrando um gráfico com seus gastos em determinado período, podendo ser semanal, mensal e anual.</p>
                </div>

                <div>
                    <img src="../../public/images/home/4.png">

                    <h3>Porcentagem</h3>

                    <p class="light-text">Contas de poupança mostrarão o aumento no dinheiro em porcentagem, anualmente ou mensalmente. Havendo a opção de filtrar gastos e rendas, disponibilizando a visualização de setor das suas finanças.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <span>
            <a href="#">
                <i class='bx bxl-instagram'></i>
            </a>

            <a href="#">
                <i class='bx bxl-facebook'></i>
            </a>

            <a href="#">
                <i class='bx bxl-twitter'></i>
            </a>

            <a href="#">
                <i class='bx bxl-youtube'></i>
            </a>
        </span>

        <div>
            <h3>Sobre a Finyou</h3>

            <a href="#">Finanças para você!</a>
        </div>

        <div>
            <h3>Políticas</h3>

            <a href="#">Termos e condições</a>
        </div>

        <div>
            <h3>Fale conosco</h3>

            <a href="#">Tire as suas dúvidas</a>
        </div>

        <div>
            <h3>Trabalhe conosco</h3>

            <a href="#">Conheça o nosso trabalho</a>
        </div>

        <span>
            <i class='bx bx-world'></i>
            Português (Brasil)
        </span>
    </footer>
</body>
</html>